
<body class="is-preload">
    <div id="page-wrapper">
        <section class="wrapper style1">
            <div class="container">
                <div class="card" style="width: 18rem; display:inline-block;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

