<form action="https://localhost:7150/Clientes/AdicionarCliente" method="post">
    <div class="row gtr-50">
        <div class="col-6 col-12-mobilep">
            <input name="Nome" id="Nome" type="text" placeholder="Seu nome" />
        </div>
        <div class="col-6 col-12-mobilep">
            <input name="Email" id="Email" type="email" placeholder="Seu e-mail!" />
        </div>
        <div class="col-6 col-12-mobilep">
            <input name="Telefone" id="Telefone" type="tel" placeholder="Telefone" />
        </div>
        <div class="col-6 col-12-mobilep">
            <input name="Cpf" id="Cpf" type="number" placeholder="Seu CPF/CNPJ" />
        </div>
        <div class="col-12">
            <textarea name="Mensagem" id="Mensagem" placeholder="Conte-nos sobre você e o que precisa!" rows="5"></textarea>
        </div>
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" class="button alt" value="Enviar Mensagem" /></li>
            </ul>
        </div>
    </div>
</form>
