<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , user-scalable=no />
    <title>@ViewData["Title"] - DevSmash</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="is-preload">
    <div id="page-wrapper">
    <header>
            <nav id="nav">
                <ul>
                    <li class="current">
                        <a asp-area="" asp-controller="Home" asp-action="Index">DevSmash</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Posts" asp-action="Index">Blog</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Servicos" asp-action="Index">Servicos</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Integrantes" asp-action="Index">Quem Somos</a>
                    </li>
                </ul>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Agência Cronos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
  </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js~/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/js~/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/js~/js/jquery.dropotron.min.js" asp-append-version="true"></script>
    <script src="~/js~/js/main.js" asp-append-version="true"></script>
    <script src="~/js~/js/util.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
