@model DevSmash___Projeto_Final.Models.ViewModels.ServicoViewModel

<section class="col-4 col-12-narrower">
    <div class="box highlight">
        <a asp-controller="Home" asp-action="Servicos">
            <i class="@Model.IconeFront"></i>
            <h3>@Model.NomeServico</h3>
        </a>
        <p>@Model.DescricaoView</p>
    </div>
</section>
