@model DevSmash___Projeto_Final.Models.ViewModels.PaginaInicialViewModel
@{
    ViewData["Title"] = "Agência Cronos";
}

<section id="banner">
    <header>
        <h2>Cronos <em>a melhor solução para sua empresa.</em></h2>
        <a href="#" class="button">Nossos serviços</a>
    </header>
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            @foreach (var item in Model.Servicos)
            {
                @Html.Partial("_Servicos", item);
            }
        </div>
    </div>
</section>
<section class="wrapper style2">
    <div class="container">
        <header class="major">
            <h2>Nosso foco é a qualidade e a satisfação de nossos clientes!</h2>
            <p>Conheça nosso blog, compartilhamos nossos conteúdos e opiniões nele</p>
        </header>
    </div>
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Posts)
            {
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a href="#" class="image left"><img src="@item.Imagem" alt="" /></a>
                        <div class="inner">
                            <h3>@item.Titulo</h3>
                            <p>@item.DescricaoFront</p>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</section>