@model IEnumerable<DevSmash___Projeto_Final.Models.Entidades.Servico>
@{
    ViewData["Title"] = "Agência Cronos";
}

<section id="banner">
    <header>
        <h2>Cronos <em>a melhor solução para sua empresa.</em></h2>
        <a href="#" class="button">Nossos serviços</a>
    </header>
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            @foreach(var item in Model)
            {
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <a asp-controller="Servicos" asp-action="Index"><i class="@item.Icone"></i>
                    <h3>@item.NomeServico</h3></a>
                    <p>@item.DescricaoFront</p>
                </div>
            </section>
            }
        </div>
    </div>
</section>

