@model IEnumerable<DevSmash___Projeto_Final.Models.Entidades.Servico>


<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-8 col-12-narrower">
                <div id="content">
                    <article>
                        <header>
                            <h2>Conheça nossos Serviços</h2>
                            <p>Nossa equipe é totalmente qualificada e está pronta para te oferecer o melhor</p>
                        </header>
                        <br />
                        @foreach (var servico in Model)
                        {
                            <header>
                                <h2>@servico.Nome</h2>
                            </header>
                            <span class="image featured"><img src="@servico.Imagem" alt="" /></span>
                            <p>@servico.Descricao</p>
                        }
                    </article>
                </div>
            </div>
            <div class="col-4 col-12-narrower">
                <div id="sidebar">
                    <section>
                        <h3>Precisa de alguma de nossas soluções? Nos envie uma mensagem!</h3>
                        <footer>
                           @Html.Partial("_ClientesForm");
                        </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>      